.container{
    height:800px;
    width:100%;
}
.about-box{
    height: 700px;
    width:30%;
    border: 3px solid black;
    float:left;
    margin-top:50px;
}
.container-box, .container-video{
    display:block;
    margin:auto;
    margin-top:25px;
}

.container-img{
    width: 300px;
    display:block;
    margin:auto;
    margin-top:25px;
}

.container-audio{
display:block
margin:auto;
margin-top:25px;

}

.about-box p{
margin-top:45px;

}