
body {
    width: 100%;
    margin : 0 auto; 

}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: blue;
    top: 0
}

.nav-list {
    height: 50px;
    padding: 10px;
    margin-right: 0px;
    float: right;
}

.list-item:hover {
background-color: red;
border: 3px dashed #ffffff;
border-radius: 50%;
}

li {
    color: black;
    display: inline-block;
    margin-right: 25px;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #000;
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
}

.main h1 {
    height: 20px;
    width: 20px;
    position: absolute;
}

.dog-img{
    background-image: url('../img/dog-imagefour.jpg');
  height: 100px;
  width: 300px;
  border: 3px solid #000;
  border-radius: 20px;
  position: realative;
  top: 530px;
  left: 40%;
  text-align: center;
}



.paragraph {
position:realative;
border: solid black 3px;
width:400px;
height:250px;
margin-left:890px;


}
.footer{
    background-color: rgb(128,128,128);
    widows: 100%;
    height: 100px;
    margin: 20px;

}